.head {
  height: 600px;
}

h1 {
  font-family: 'Ranchers', sans-serif;
  font-size: 500%;
  color: #fd5a1E;
}

h2 {
  font-family: 'Ranchers', sans-serif;
  font-size: 200%;
  line-height: 1.5;
  margin: 30px 0;
  color: #efd19f;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 30px 0;
  width: 40%;
  color: #6cef7c;
}

.copyright {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 100%;
  color: #27251f;
}

.scoreText {
  color: #27251f;
  font-size:20px;
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
}

canvas {
  position:absolute;
  left:0;
  right:0;
  margin:auto;
  border-width:medium;
  border-radius: 20px;
}
